@import "@square/orbit/styles/vars.css";
@import "@square/orbit/styles/vars-row.css";
@import "@square/orbit/styles/vars-form.css";
@import "@square/orbit/styles/vars-heading.css";

/* Table Vars
-------------------------- */
:root {
	--table-checked-bg-color: var(--hover-bg-color);
	--table-color: var(--color-gray-60);
	--table-cell-checkable-width: calc((var(--row-padding-horizontal) * 2) + var(--form-control-size));
	--table-font-size: var(--font-size-base);
	--table-header-color: var(--color-gray-60);
	--table-header-bg-color: var(--color-gray-20);
	--table-header-hover-bg-color: var(--color-gray-30);
	--table-header-font-size: var(--heading-t4-size);
	--table-header-font-weight: var(--font-weight-medium);
	--table-hover-color: var(--color-gray-60);
	--table-sort-color: var(--color-gray-60);
	--table-sort-color-hover: var(--color-gray-60);
	--table-header-height: 47px;
}
